<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list> 
        <a [routerLink]="['/home']" mat-list-item>
            <i class="material-icons">home</i>
            Home
        </a>
        <a [routerLink]="[ '/categories' ]" mat-list-item>
            <i class="material-icons">menu_book</i>
            Categorias
        </a>
        <a [routerLink]="[ '/allbooks' ]" mat-list-item>
            <i class="material-icons">book</i>
            Livros
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
